@charset "UTF-8";

/*
 *
 * Bootstrap
 *
 */

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

/*
 *
 * Alerts
 *
 */

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-success .alert-link {
  color: #0b2e13;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-info .alert-link {
  color: #062c33;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-warning .alert-link {
  color: #533f03;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-danger .alert-link {
  color: #491217;
}

/*
 *
 * Breadcrumb
 *
 */

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

/*
 *
 * Navbar
 *
 */

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

/*
 *
 * Button
 *
 */

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  transition: all 100ms ease-in-out;
}

/*
 *
 * Example
 *
 *

    @media only screen and (max-width: bp('small')) {
        div {
            width: 100%;
        }
    }

 *
 */

/*
 *
 * Includes
 *
 */

/*
 *
 * Example
 *
 *

    .wrapper {
        margin: 40px auto;

        @include respond-to(phone) { margin: 40px 10px;}
        @include respond-to(tabletPortrait) { width: 710px; max-width: 80%; padding: 0 5px;}
        @include respond-to(tabletLandscape) { width: 765px; max-width: 80%; }
        @include respond-to(desktop) { width: 900px; }
        @include respond-to(desktopL) { width: 960px; }
    }

*
*/

body {
  background-color: #454545;
  color: #fff;
}

@font-face {
  font-family: "Choplin Medium-DEMO";
  src: url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot");
  src: url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.svg#Choplin Medium-DEMO") format("svg");
}

.font-title {
  font-family: "Choplin Medium-DEMO" !important;
}

.font-txt {
  font-family: "Arial", sans-serif !important;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: normal;
}

.nav-m {
  font-size: 22px;
}

.txt-xxl {
  font-size: 20px;
}

.txt-xl {
  font-size: 16px;
}

.txt-l {
  font-size: 15px;
}

.txt-m {
  font-size: 14px;
}

.align-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-n {
  font-weight: normal;
}

.weight-bold {
  font-weight: bold;
}

.arrow-up {
  transition: 0.2s all;
  width: 0;
  height: 0;
  border-left: 12.5px solid transparent;
  border-right: 12.5px solid transparent;
  border-bottom: 12.5px solid #323232;
}

.arrow-down {
  transition: 0.2s all;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #323232;
}

.arrow-left {
  transition: 0.2s all;
  width: 0;
  height: 0;
  border-top: 12.5px solid transparent;
  border-bottom: 12.5px solid transparent;
  border-right: 12.5px solid #323232;
}

.arrow-right {
  transition: 0.2s all;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #323232;
}

.article-arrow {
  display: inline-block;
  position: relative;
  top: 4px;
  left: 5px;
  border-top-width: 8px;
  border-left-width: 8px;
}

.article-arrow.arrow-right {
  border-bottom-width: 8px;
}

.article-arrow.arrow-down {
  border-right-width: 8px;
}

.close-btn {
  position: absolute;
  right: 12px;
}

.close-btn span {
  position: relative;
  top: 22px;
  left: -3px;
  color: #959595;
}

.btn-m {
  font-size: 18.97px;
}

.btn-primary {
  border: none;
  border-radius: 0;
  font-size: 18.97px;
  font-weight: bold;
  text-align: center;
  background-color: #ff6f9e;
  /* catogory colours */
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #fff;
  color: #ff6f9e;
}

.btn-primary:focus {
  outline: none;
}

.btn-primary.btn-cookie {
  background-color: #e27500;
  border: 1px solid #e27500;
}

.btn-primary.btn-cookie:hover {
  background-color: transparent;
  color: #e27500;
}

.btn-primary.dog {
  background-color: #ff709e;
}

.btn-primary.dog:hover {
  color: #ff709e;
  background-color: #fff;
}

.btn-primary.cat {
  background-color: #8787ff;
}

.btn-primary.cat:hover {
  color: #8787ff;
  background-color: #fff;
}

.btn-primary.fish {
  background-color: #ffb93f;
}

.btn-primary.fish:hover {
  color: #ffb93f;
  background-color: #fff;
}

.btn-primary.bird {
  background-color: #7aff82;
}

.btn-primary.bird:hover {
  color: #7aff82;
  background-color: #fff;
}

.btn-primary.hamster {
  background-color: #7ce3ff;
}

.btn-primary.hamster:hover {
  color: #7ce3ff;
  background-color: #fff;
}

.btn-primary.other {
  background-color: #ff3f3f;
}

.btn-primary.other:hover {
  color: #ff3f3f;
  background-color: #fff;
}

.divider-horizontal {
  position: relative;
  width: 100%;
  height: 1px !important;
  content: "";
  background-color: #616161;
}

.divider-vertical {
  position: relative;
  width: 1px !important;
  height: 100%;
  content: "";
  background-color: #616161;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s all ease;
  border: 2px solid rgba(149, 149, 149, 0.5);
}

.dot.active,
.dot:hover {
  background-color: #323232;
  border-color: rgba(50, 50, 50, 0.7);
}

.scroller-status .loader-ellips {
  margin: 30px auto 10px;
  height: 35px;
  width: 35px;
}

.scroller-status .loader-ellips img {
  height: 35px;
  width: 35px;
}

.scroller-status .loader-ellips.disable {
  display: none;
}

.scroller-status .infinite-scroll-last,
.scroller-status .infinite-scroll-error {
  margin-top: 20px;
}

.heading {
  color: #fff;
  font-family: "Choplin Medium-DEMO";
  margin: 0;
  display: inline-block;
}

.heading.h-xl {
  font-size: 44px;
}

.heading.h-l {
  font-size: 40px;
}

.heading.h-ml {
  font-size: 26px;
}

.heading.h-m {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

input,
textarea,
select,
option {
  outline: none;
}

.select-box {
  flex-direction: row;
  position: relative;
  width: 175px;
  cursor: pointer;
  /*style the selected item (option)*/
  /*style items (options):*/
}

.select-box select {
  display: none;
}

.select-box .select-selected {
  color: #cecece;
  background-color: #616161;
  padding: 8px 16px;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  /*style the arrow inside the select element:*/
}

.select-box .select-selected:after {
  content: "";
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 25%;
  display: block;
  width: 16px;
  height: 16px;
  background: url("/img/nav/select.png") no-repeat center center;
  pointer-events: none;
}

.select-box .select-items {
  width: 175px;
  color: #454545;
  position: absolute;
  background-color: #fff;
  z-index: 2;
  /*hide the items when the select box is closed:*/
}

.select-box .select-items div {
  padding: 8px 16px;
}

.select-box .select-items div:hover,
.select-box .select-items div .same-as-selected {
  background-color: rgba(69, 69, 69, 0.3);
  transition: all 0.1s;
}

.select-box .select-items.select-hide {
  display: none;
}

a {
  color: #fff;
  text-decoration: underline;
  font-family: "Choplin Medium-DEMO";
  font-size: 15px;
}

a:hover {
  color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.alert {
  border-radius: 0;
}

p {
  color: #fff;
  font-family: "Arial", sans-serif;
  margin: 0;
}

.question {
  margin-bottom: 30px;
}

.question p {
  padding-left: 25px;
}

.sprite {
  background: url("/img/nav/sprite.png") no-repeat top left;
  width: 40px;
  height: 40px;
}

.sprite.hamburger {
  background-position: 0 0;
}

.sprite.search {
  background-position: 0 -45px;
}

.sprite.search-bold {
  background-position: 0 -90px;
}

.sprite.faq {
  background-position: 0 -135px;
}

.sprite.dog {
  background-position: 0 -180px;
}

.sprite.cat {
  background-position: 0 -225px;
}

.sprite.fish {
  background-position: 0 -270px;
}

.sprite.bird {
  background-position: 0 -315px;
}

.sprite.hamster {
  background-position: 0 -360px;
}

.sprite.plus {
  background-position: 0 -405px;
}

.sprite.break {
  background-position: 0 -495px;
  width: 42px;
  height: 42px;
}

.sprite.clear {
  background-position: 0 -542px;
}

.sprite.esc {
  background-position: 0 -587px;
}

.sprite.mail {
  background-position: 0 -632px;
}

.sprite-big {
  background: url("/img/nav/sprite-big.png") no-repeat top left;
  width: 70px;
  height: 70px;
}

.sprite-big.dog {
  background-position: 0 0;
}

.sprite-big.cat {
  background-position: 0 -75px;
}

.sprite-big.fish {
  background-position: 0 -150px;
}

.sprite-big.bird {
  background-position: 0 -225px;
}

.sprite-big.hamster {
  background-position: 0 -300px;
}

.sprite-big.plus {
  background-position: 0 -375px;
}

.overflow {
  overflow-x: hidden;
}

.wrapper {
  margin: 40px auto 150px;
}

@media only screen and (max-width: 630px) {
  .wrapper {
    margin: 40px 7px;
  }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .wrapper {
    width: 710px;
    max-width: 80%;
    padding: 0 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 765px;
    max-width: 80%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1140px) {
  .wrapper {
    width: 900px;
  }
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px;
  }
}

.breadcrumb {
  /*reset bootstrap */
  background-color: transparent;
  padding: 0;
}

.breadcrumb img {
  height: 30px;
  margin-right: 5px;
}

.breadcrumb div,
.breadcrumb span {
  margin: 2.5px 0;
}

.breadcrumb span {
  font-size: 14px;
  padding: 0 15px;
  margin-right: 3px;
  background-color: #323232;
  line-height: 25px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.breadcrumb .dot {
  position: absolute;
  height: 8px;
  width: 8px;
  margin: 11px 0 11px 45px;
  border: none;
}

.breadcrumb .dot.dog {
  background-color: #ff709e;
}

.breadcrumb .dot.cat {
  background-color: #8787ff;
}

.breadcrumb .dot.fish {
  background-color: #ffb93f;
}

.breadcrumb .dot.bird {
  background-color: #7aff82;
}

.breadcrumb .dot.hamster {
  background-color: #7ce3ff;
}

.breadcrumb .dot.other {
  background-color: #ff3f3f;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.categories .checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* show checkmark on hover or checked  */
}

.categories .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.categories .checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #323232;
  /* the actual checkmark */
}

.categories .checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 11px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.categories .checkbox input:checked ~ .checkmark,
.categories .checkbox:hover input ~ .checkmark {
  background-color: #323232;
}

.categories .checkbox input:checked ~ .checkmark:after,
.categories .checkbox:hover input ~ .checkmark:after {
  display: block;
}

/*
 * Checkmark bacbkground and hover colours
 */

.article-filters.dog .categories .checkbox input:checked ~ .checkmark {
  background-color: #ff709e;
}

.article-filters.cat .categories .checkbox input:checked ~ .checkmark {
  background-color: #8787ff;
}

.article-filters.fish .categories .checkbox input:checked ~ .checkmark {
  background-color: #ffb93f;
}

.article-filters.bird .categories .checkbox input:checked ~ .checkmark {
  background-color: #7aff82;
}

.article-filters.hamster .categories .checkbox input:checked ~ .checkmark {
  background-color: #7ce3ff;
}

.article-filters.other .categories .checkbox input:checked ~ .checkmark {
  background-color: #ff3f3f;
}

.hot-items {
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.hot-items ul {
  display: flex;
}

.hot-items ul li {
  margin: 5px;
}

.hot-items ul li:first-child {
  margin-left: 0;
}

.hot-items ul li:last-child {
  margin-right: 0;
}

.hot-items a {
  float: left;
}

.hot-items a.hot-items-link {
  float: right;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .hot-items {
    width: 515px;
    max-width: 95%;
  }

  .hot-items a.hot-items-link {
    float: none;
  }

  .hot-items ul li {
    margin: 2px;
  }

  .hot-items figcaption {
    display: none;
  }

  .hot-items .item-dots {
    display: none;
  }
}

/*
 *
 * Tablet portrait
 *
 */

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .hot-items {
    width: 560px;
  }

  .hot-items figcaption {
    font-size: 11px;
  }
}

/*
 *
 * Tablet landscape
 *
 */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hot-items {
    width: 700px;
  }
}

/*
 *
 * Desktop small
 *
 */

@media only screen and (min-width: 1024px) and (max-width: 1140px) {
  .hot-items {
    width: 900px;
  }
}

.item-section {
  background-color: #565656;
  padding: 6px;
  border: 1px solid #717171;
  width: 234px;
  text-decoration: none;
}

.item-section:hover {
  text-decoration: none;
}

.item-section img {
  width: 220px;
}

.item-section figcaption {
  margin-top: 1px;
}

.item-section figcaption span:first-child {
  margin-left: 5px;
}

.item-section figcaption span:last-child {
  margin-right: 5px;
  float: right;
}

.item-section .item-dots {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  z-index: 1;
}

.item-section .item-dots .dot {
  margin: 0 2px;
  border: 1px solid #fff;
}

.item-section .item-dots .dot:nth-child(1) {
  background-color: #fff;
}

.item-section .item-dots .dot:nth-child(2) {
  background-color: #323232;
}

.item-section .item-dots .dot:nth-child(3) {
  background-color: #2d4aac;
}

.item-section .item-img {
  position: relative;
  overflow: hidden;
}

.item-section .item-img .item-hover {
  position: absolute;
  top: 100%;
  transition: 0.1s all ease-in-out;
}

.item-section .item-img .item-hover span {
  position: absolute;
  top: 105px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.item-section .item-img:hover .item-hover {
  top: 0;
}

.item-section .item-img .item-hover.dog img {
  background-color: #ff709e;
  opacity: 0.86;
}

.item-section .item-img .item-hover.cat img {
  background-color: #8787ff;
  opacity: 0.86;
}

.item-section .item-img .item-hover.fish img {
  background-color: #ffb93f;
  opacity: 0.86;
}

.item-section .item-img .item-hover.bird img {
  background-color: #7aff82;
  opacity: 0.86;
}

.item-section .item-img .item-hover.hamster img {
  background-color: #7ce3ff;
  opacity: 0.86;
}

.item-section .item-img .item-hover.other img {
  background-color: #ff3f3f;
  opacity: 0.86;
}

.featured-article .item-img .item-hover {
  width: 100%;
}

.featured-article .item-img .item-hover span {
  top: 175px;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .item-section.item-small {
    padding: 2px;
    max-width: 126px;
  }

  .item-section.item-small img {
    max-width: 120px;
  }
}

/*
 *
 * Tablet portrait
 *
 */

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .item-section.item-small {
    max-width: 134px;
  }

  .item-section.item-small img {
    max-width: 120px;
  }
}

/*
 *
 * Tablet landscape
 *
 */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .item-section.item-small {
    max-width: 169px;
  }

  .item-section.item-small img {
    max-width: 155px;
  }
}

/*
 *
 * Desktop small
 *
 */

@media only screen and (min-width: 1024px) and (max-width: 1140px) {
  .item-section.item-small {
    max-width: 219px;
  }

  .item-section.item-small img {
    max-width: 205px;
  }
}

.logo-big {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  top: 50px;
}

.logo-big img {
  max-width: 100%;
}

.overlay {
  background-color: #fff;
  position: absolute;
  min-height: 110%;
  width: 100%;
  z-index: 5;
  color: #000;
  left: -100%;
  transition: 0.3s all ease-in-out;
}

.overlay.active {
  left: 0;
}

.overlay h2 span,
.overlay h1 span {
  display: inline-block;
}

.overlay h1 {
  color: #e27500;
  font-family: "Arial", sans-serif;
}

.overlay p,
.overlay p a {
  color: #535353;
}

.overlay .description {
  margin: -40px 0 40px;
}

.overlay .description p {
  max-width: 85%;
}

.overlay .search-results input {
  padding-left: 53px;
  border: none;
  border-bottom: 2px solid #535353;
  width: 100%;
  font-size: 40px;
  color: #e27500;
}

.overlay .search-results .search-label {
  position: relative;
  top: -68px;
  margin: 0;
  opacity: 0;
}

.overlay .search-results .search-label.active {
  opacity: 1;
}

.overlay button.clear {
  float: right;
  margin-right: 33px;
  margin-top: -50px;
}

.overlay button.clear span {
  margin-left: 20px;
}

section.range-slider {
  position: relative;
  width: 400px;
  height: 74px;
  text-align: center;
}

section.range-slider div.values {
  position: relative;
  top: 30px;
  line-height: 40px;
}

section.range-slider div.values div {
  position: absolute;
  display: inline-block;
  width: 145px;
  background-color: #fff;
  border: 2px solid #828282;
}

section.range-slider div.values div.val-1 {
  left: 0;
}

section.range-slider div.values div.val-2 {
  right: 0;
}

section.range-slider div.values div .euro-sign {
  position: absolute;
  left: 5px;
}

section.range-slider input {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-appearance: none;
  outline: none;
  width: 400px;
  height: 5px;
  background: #959595;
}

section.range-slider input::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: #959595;
  border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: #959595;
  border: 0;
}

section.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

section.range-slider input::-webkit-slider-thumb {
  pointer-events: all;
  position: relative;
  z-index: 1;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  background: #323232;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #323232;
}

section.range-slider input::-moz-range-thumb {
  pointer-events: all;
  position: relative;
  z-index: 2;
  cursor: pointer;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #323232;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  section.range-slider,
  section.range-slider input {
    max-width: 95vw;
  }
}

.cookie {
  position: fixed;
  z-index: 15;
  width: 100%;
  background-color: #e6cfb9;
  padding: 10px;
  padding-bottom: 0;
  display: none;
}

.cookie.active {
  display: block;
}

.cookie .cookie-content {
  width: 950px;
  margin: 45px auto;
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
}

.cookie .cookie-content h1 {
  color: #e27500;
}

.cookie .cookie-content .cookie-img {
  width: 200px;
  margin-right: 60px;
}

.cookie .cookie-content .cookie-txt {
  width: 7100px;
  max-width: 100%;
}

.cookie .cookie-content .cookie-txt p {
  margin-bottom: 1rem;
  color: #454545;
}

.cookie .cookie-content .cookie-txt .btn-primary {
  font-size: 22px !important;
  padding: 20px 50px;
}

.cookie:after {
  position: absolute;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 45px;
  content: "";
  background: url("/img/cookie/cookie-shadow.png");
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .cookie .cookie-content {
    width: 100%;
    margin: 5px auto;
  }

  .cookie .cookie-content .cookie-img {
    display: none;
  }

  .cookie .cookie-content .cookie-txt {
    width: 100%;
  }

  .cookie .cookie-content .cookie-txt .btn {
    width: 100%;
  }
}

/*
 *
 * Tablet
 *
 */

@media only screen and (min-width: 630px) and (max-width: 1024px) {
  .cookie .cookie-content .cookie-img {
    position: absolute;
    bottom: 30px;
    right: 0;
    margin: 0;
  }

  .cookie .cookie-content .cookie-txt {
    width: 600px;
  }
}

/*
 *
 * Tablet portrait
 *
 */

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .cookie .cookie-content .cookie-txt {
    width: 500px;
  }
}

.fade-out {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  /* 0.4 = 40% opacity */
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.fade-out.active {
  display: block;
}

.overlay-faq .wrapper > h1 {
  margin: 60px 0;
}

.overlay-faq .question {
  color: #535353;
}

.overlay-faq .question .arrow-down,
.overlay-faq .question .arrow-right {
  display: none;
}

.overlay-search {
  position: fixed;
}

.overlay-search h2 {
  margin-bottom: 20px;
  width: 290px;
  cursor: pointer;
}

.overlay-search .filter {
  display: none;
}

.overlay-search .advanced-filter {
  grid-template-columns: repeat(2, 1fr);
}

.overlay-search .advanced-filter .price-slider {
  margin: 0 auto 0 auto;
}

.overlay-search .advanced-filter.active {
  display: grid;
}

.overlay-search .search-results {
  margin-top: 60px;
}

.overlay-search .search-results #search-mobile {
  display: none;
}

/*
 *
 * Mobile to Tablet landscape
 *
 */

@media only screen and (max-width: 1024px) {
  .overlay-search .advanced-filter {
    grid-template-columns: repeat(1, 1fr);
  }

  .overlay-search .advanced-filter .price-slider {
    margin: 10px 0 0;
  }

  .overlay-search .search-results input,
  .overlay-search .search-results h1 {
    font-size: 20px;
  }

  .overlay-search .search-results .search-label {
    top: -60px;
  }
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .overlay-search .search-results #search-mobile {
    display: inline;
  }

  .overlay-search .search-results #search-desktop {
    display: none;
  }
}

/*
 *
 * Desktop small
 *
 */

@media only screen and (min-width: 1024px) and (max-width: 1140px) {
  .overlay-search .search-results input,
  .overlay-search .search-results h1 {
    font-size: 20px;
  }

  .overlay-search .search-results .search-label {
    top: -60px;
  }
}

.infinite-articles {
  margin-top: 20px;
}

.article-feed {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-row-gap: 20px;
  grid-column-gap: 8px;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .article-feed figcaption {
    display: none;
  }

  .article-feed .item-dots {
    display: none;
  }
}

/*
 *
 * Tablet portrait
 *
 */

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .article-feed figcaption {
    font-size: 11px;
  }
}

#mobile-menu {
  display: none;
}

.navbar-vertical {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 7;
  height: 100%;
  width: 215px;
  overflow: hidden;
  border: none;
  border-radius: 0;
  margin: 0;
  background-color: #323232;
  /*
   *
   * Logo
   *
   */
}

.navbar-vertical ul {
  width: 100%;
  display: block;
  padding: 0;
  /* filter animals */
}

.navbar-vertical ul:before,
.navbar-vertical ul:after {
  display: none;
}

.navbar-vertical ul li {
  cursor: pointer;
  margin: 10px;
  line-height: 40px;
  height: 40px;
}

.navbar-vertical ul li a {
  display: block;
  width: 215px;
  padding-left: 50px;
  text-decoration: none;
  font-size: 22px;
}

.navbar-vertical ul li a:not([href]),
.navbar-vertical ul li a:not([tabindex]) {
  color: #959595;
}

.navbar-vertical ul li#nav-burger {
  margin-top: 5px;
  margin-bottom: 15px;
}

.navbar-vertical ul li.sprite.plus {
  opacity: 0;
  transition: 0.4s all;
}

.navbar-vertical ul li.sprite.plus.active {
  opacity: 1;
}

.navbar-vertical ul li.sprite.plus a {
  color: #fff;
}

.navbar-vertical ul li.sprite.plus:hover a {
  color: #ff3f3f;
}

.navbar-vertical ul li#nav-search.active,
.navbar-vertical ul li#nav-search:hover,
.navbar-vertical ul li#nav-faq.active,
.navbar-vertical ul li#nav-faq:hover,
.navbar-vertical ul li.sprite.mail.active,
.navbar-vertical ul li.sprite.mail:hover {
  -webkit-filter: brightness(10) saturate(0);
          filter: brightness(10) saturate(0);
}

.navbar-vertical ul li#nav-search.active a,
.navbar-vertical ul li#nav-search:hover a,
.navbar-vertical ul li#nav-faq.active a,
.navbar-vertical ul li#nav-faq:hover a,
.navbar-vertical ul li.sprite.mail.active a,
.navbar-vertical ul li.sprite.mail:hover a {
  color: #fff;
}

.navbar-vertical ul li.nav-divider {
  height: 3px !important;
  cursor: default;
}

.navbar-vertical ul li.nav-divider .divider {
  background-color: #535353;
}

.navbar-vertical ul .nav-animals {
  margin-top: 10px;
}

.navbar-vertical ul .nav-animals li {
  -webkit-filter: brightness(10) saturate(0);
          filter: brightness(10) saturate(0);
}

.navbar-vertical ul .nav-animals li.active,
.navbar-vertical ul .nav-animals li:hover {
  -webkit-filter: none;
          filter: none;
}

.navbar-vertical ul .nav-animals li.dog a {
  color: #ff709e !important;
}

.navbar-vertical ul .nav-animals li.cat a {
  color: #8787ff !important;
}

.navbar-vertical ul .nav-animals li.fish a {
  color: #ffb93f !important;
}

.navbar-vertical ul .nav-animals li.bird a {
  color: #7aff82 !important;
}

.navbar-vertical ul .nav-animals li.hamster a {
  color: #7ce3ff !important;
}

.navbar-vertical ul#navbar-logo {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.navbar-vertical ul#navbar-logo li {
  -webkit-filter: none;
          filter: none;
  margin-left: 17px;
}

.navbar-vertical ul#navbar-logo li a {
  display: inline;
  width: auto;
  padding: 0;
}

.navbar-vertical ul#navbar-logo li a img {
  height: 26px;
  width: auto;
  transition: 0.2s all;
  opacity: 1;
}

.navbar-vertical ul#navbar-logo li a img.inactive {
  opacity: 0;
}

.navbar-vertical ul#navbar-logo li#logo-long {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 18.7px;
}

.navbar-vertical ul#navbar-logo li#logo-long img {
  height: 20px;
}

/*
 *
 * background color hamburger menu
 *
 */

.navbar-vertical:before {
  position: absolute;
  width: 60px;
  height: 50px;
  content: "";
  background-color: #252525;
}

/*
 *
 * Animation
 *
 */

/* black background */

.navbar-vertical:before {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateX(155px);
  transform: translateX(155px);
}

.navbar-vertical.active:before {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/* nav slider */

.navbar-vertical {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateX(-155px);
  transform: translateX(-155px);
}

.navbar-vertical.active {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/* ul slide opposite so it stays in place*/

.navbar-vertical ul {
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translateX(155px);
  transform: translateX(155px);
}

.navbar-vertical.active ul {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .navbar-vertical:before {
    display: none;
  }

  .navbar-vertical {
    left: -60px;
    transition: 0.2s all;
  }

  .navbar-vertical ul li#nav-burger {
    display: none;
  }

  .navbar-vertical.active {
    left: 0;
  }

  #mobile-menu {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    margin: 7px;
    transition: 0.2s all;
  }

  #mobile-menu.active {
    left: 215px;
  }
}

.slideshow-container {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
}

.slideshow-container .mySlides {
  display: none;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.slideshow-container .mySlides.active {
  display: block;
  opacity: 1;
}

.slideshow-container .mySlides img {
  width: 100%;
  max-height: 750px;
}

.slideshow-container .mySlides .slide-timer {
  position: absolute;
  bottom: -16px;
  height: 3px;
  width: 100%;
  background-color: #828282;
  content: "";
  opacity: 0.4;
}

.slideshow-container .mySlides .slide-timer div {
  height: 3px;
  width: 100%;
  content: "";
  background-color: #454545;
  -web-kit-animation: slideShowTimer 8s linear;
  -webkit-animation: slideShowTimer 8s linear;
          animation: slideShowTimer 8s linear;
}

.slideshow-container .slide-controls {
  text-align: center;
  margin-top: -40px;
}

@-web-kit-keyframes slideShowTimer {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes slideShowTimer {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes slideShowTimer {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .slideshow-container .logo {
    max-width: 80%;
  }

  .slideshow-container .slide-timer {
    bottom: 0 !important;
  }

  .slideshow-container .slide-controls {
    display: none;
  }
}

.bg-pattern {
  background: url("/img/content/bg_newsletter.jpg");
  width: 613px;
  height: 185px;
}

.subscribe {
  margin-top: 20px;
  display: flex;
}

.subscribe .bg-pattern h2 {
  display: block;
  width: 400px;
  margin: 40px auto 20px;
  line-height: 40px;
}

.subscribe .bg-pattern p {
  text-align: center;
}

.subscribe .sub-form-bg {
  background-color: #616161;
  width: 347px;
}

.subscribe .sub-form-bg .sub-form {
  display: table;
  margin: 0 auto;
  padding-top: 40px;
}

.subscribe .sub-form-bg .sub-form p {
  color: #cecece;
  margin-bottom: 1rem;
}

.subscribe .sub-form-bg input {
  height: 45px;
}

.subscribe .sub-form-bg input[type=text] {
  padding: 5px 10px;
  border: 1px solid #959595;
  margin-right: -3px;
}

.subscribe .sub-form-bg input[type=submit] {
  background-color: #323232;
  border: 1px solid #323232;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .subscribe {
    display: inline;
  }

  .subscribe .bg-pattern {
    width: 100%;
  }

  .subscribe .bg-pattern h2,
  .subscribe .bg-pattern p {
    position: relative;
    top: 30px;
    margin-top: 0;
  }

  .subscribe .sub-form-bg {
    width: 100%;
    height: 185px;
  }
}

/*
 *
 * Tablet portrait
 *
 */

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .subscribe {
    width: 560px;
  }

  .subscribe .bg-pattern {
    width: 300px;
  }

  .subscribe .bg-pattern h2 {
    font-size: 26px;
    width: 280px;
  }
}

/*
 *
 * Tablet landscape
 *
 */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .subscribe {
    width: 700px;
  }

  .subscribe .bg-pattern {
    width: 500px;
  }

  .subscribe .bg-pattern h2 {
    font-size: 40px;
  }
}

h2#article-filter {
  line-height: 25px;
  cursor: pointer;
}

.article-filters {
  padding: 0 45px 20px;
  display: none;
}

.article-filters.active {
  display: block;
}

.article-filters .price-slider {
  margin-top: 10px;
}

.article-filters .price-slider .range-slider input::-webkit-slider-thumb {
  background: #fff;
}

.article-filters .price-slider .range-slider input::-moz-range-thumb {
  background: #fff;
}

.article-filters .price-slider .range-slider .val-1,
.article-filters .price-slider .range-slider .val-2 {
  color: #323232;
}

.content {
  border-top: 1px solid #616161;
}

.content .filter-info {
  margin: 10px auto 20px;
}

.content .filter-info p {
  text-align: right;
  margin-top: -30px;
  color: #cecece;
}

.content .filter-info p span {
  color: #fff;
  font-weight: bold;
}

.content .articles {
  display: flex;
  flex-wrap: wrap;
}

.content .articles .hot-items {
  width: 50%;
  margin: 0;
  padding: 0 3px 0 0;
}

.content .articles .hot-items a:nth-child(2n+1) {
  margin-right: 6px;
}

.content .articles .hot-items a:nth-child(1),
.content .articles .hot-items a:nth-child(2) {
  margin-bottom: 20px;
}

.featured-article {
  width: 50%;
  padding-left: 3px;
}

.featured-article .item-section {
  width: 100%;
  height: 400px;
}

.featured-article .item-section .item-img img {
  width: 100%;
  max-height: 267px;
}

.featured-article .item-section .featured-article-txt {
  position: relative;
}

.featured-article .item-section .featured-article-txt h4 {
  margin: 0;
}

.featured-article .item-section .featured-article-txt div {
  margin-top: 25px;
}

.featured-article .item-section .featured-article-txt div p {
  margin-top: 9px;
}

.featured-article .item-section .featured-article-txt div a {
  font-family: "Arial", sans-serif;
  text-decoration: none;
  font-size: 14px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.featured-article .item-section .featured-article-txt div a:hover {
  text-decoration: none;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .article-filters {
    padding: 0 0 20px;
  }
}

/*
 *
 * Mobile and Tablet portrait
 *
 */

@media only screen and (max-width: 768px) {
  .featured-article {
    display: none;
  }

  .content .articles .hot-items {
    width: auto;
  }

  .content .articles .hot-items a {
    margin-bottom: 20px;
  }

  .content .articles .hot-items a:nth-child(2n+1) {
    margin-right: 0px;
  }
}

/*
 *
 * Tablet portrait
 *
 */

/*
@media only screen and (min-width: bp('small')) and (max-width: bp('medium')){
	.item-section.item-small {
		max-width: 120px + (6px * 2) + 2px;
		img { max-width: 120px; }
	}
}

*/

/*
 *
 * Tablet landscape
 *
 */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .featured-article .item-section {
    max-height: 310px;
  }

  .featured-article .item-section .item-img img {
    max-height: 175px;
  }

  .content .articles .hot-items {
    padding-right: 2px;
  }

  .content .articles .hot-items a:nth-child(2n) {
    margin-right: 2px;
  }
}

/*
 *
 * Desktop small
 *
 */

@media only screen and (min-width: 1024px) and (max-width: 1140px) {
  .featured-article .item-section {
    max-height: 379px;
  }

  .featured-article .item-section .item-img img {
    max-height: 246px;
  }
}

/*
 *
 * Desktop small and up
 *
 */

@media only screen and (min-width: 1024px) {
  .article-filters .price-slider .range-slider {
    width: auto;
  }

  .article-filters .price-slider .range-slider .values {
    width: 350px;
    top: -19px;
    left: 440px;
  }
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  margin: 65px auto 80px;
}

.about-content .about-wrapper {
  max-width: 70%;
}

.about-content .about-wrapper .contact-form {
  margin: 75px 0 0;
}

.about-content .about-wrapper .contact-form span {
  color: #ff6f9e;
  padding-bottom: 5px;
  /* gives height to span if empty */
}

.about-content .about-wrapper .contact-form span:empty:before {
  content: "\200B";
}

.about-content .about-wrapper .contact-form label {
  display: block;
  margin: 25px 0 10px;
  font-size: 20px;
}

.about-content .about-wrapper .contact-form input,
.about-content .about-wrapper .contact-form textarea {
  padding: 5px 10px;
  border: 1px solid #959595;
  color: #323232;
}

.about-content .about-wrapper .contact-form input:placeholder,
.about-content .about-wrapper .contact-form textarea:placeholder {
  color: #b6b6b6;
}

.about-content .about-wrapper .contact-form textarea {
  min-height: 135px;
  width: 100%;
}

.about-content .about-wrapper .contact-form button[type=submit] {
  margin-top: 30px;
  font-size: 18.97px;
  padding: 10px 90px;
}

.about-content .contact-info {
  margin: 0 0 0 auto;
  padding: 0 0 18px 18px;
  height: 118px;
  border-left: 1px solid #616161;
  border-bottom: 1px solid #616161;
}

.about-content .contact-info ul {
  list-style-type: disc;
  padding-left: 18px;
}

.about-faq h3 {
  margin-bottom: 15px;
}

.about-faq a {
  display: block;
  text-align: right;
}

.about-faq .question {
  cursor: pointer;
  background-color: #717171;
  padding: 20px;
  margin-bottom: 15px;
}

.about-faq .question h2 {
  margin-bottom: 0;
}

.about-faq .question p {
  padding-top: 10px;
  display: none;
}

.about-faq .question.active p {
  display: inline-block;
}

.about-faq .question .arrow-down,
.about-faq .question .arrow-right {
  float: right;
}

.about-faq .question .arrow-down {
  border-top-color: #fff;
}

.about-faq .question .arrow-right {
  border-left-color: #fff;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .about-content {
    display: block;
  }

  .about-content .about-wrapper {
    max-width: 100%;
  }

  .about-content .about-wrapper .contact-form {
    margin: 40px 0;
  }

  .about-content .about-wrapper .contact-form input {
    width: 100%;
  }

  .about-content .about-wrapper .contact-form button[type=submit] {
    width: 100%;
    margin-top: 10px;
  }

  .about-content .about-wrapper .contact-form label {
    margin: 10px auto 0;
  }

  .about-content .contact-info {
    margin-bottom: 40px;
  }

  .about-faq a {
    text-align: center;
  }
}

.article-details {
  margin-top: 180px;
}

.item-overview {
  /* Item Imgs */
  /* Item Description */
  /* Item Specifications */
}

.item-overview .item-content {
  display: flex;
}

.item-overview .item-content > div {
  width: 50%;
}

.item-overview .item-description h1,
.item-overview .item-description h2 {
  display: block;
}

.item-overview .item-description h3 {
  margin: 1rem auto 5px;
}

.item-overview .item-description .figures {
  display: flex;
  margin-top: 15px;
}

.item-overview .item-description .figures .square,
.item-overview .item-description .figures .circle {
  width: 35px;
  height: 35px;
  background-color: #828282;
  border: 1px solid #323232;
}

.item-overview .item-description .figures .circle {
  border-radius: 50%;
  margin: 0 15px;
}

.item-overview .item-description .figures .triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 35px solid #828282;
}

.item-overview .item-specs {
  padding: 15px;
  border: 1px solid #717171;
}

.item-overview .item-specs span {
  padding-left: 25px;
}

.item-overview .item-specs h4 {
  margin: 1rem auto 5px;
}

.related-products {
  margin: 45px auto 60px;
  position: relative;
}

.related-products > a {
  display: block;
  text-align: right;
}

.related-products > div.btn {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 50%;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid rgba(206, 206, 206, 0.3);
}

.related-products > div.btn div {
  height: 14px;
  width: 14px;
  border-left: 3px solid #323232;
  border-bottom: 3px solid #323232;
  position: absolute;
  top: 8px;
  left: 11px;
}

.related-products > div.btn.scroll-left {
  left: 2%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.related-products > div.btn.scroll-right {
  right: 2%;
  -webkit-transform: translateY(-50%) rotate(225deg);
          transform: translateY(-50%) rotate(225deg);
}

.related-products .product-slider {
  margin-top: 15px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.related-products .product-slider::-webkit-scrollbar {
  display: none;
}

.related-products .product-slider .item-section {
  flex: 0 0 auto;
  margin-right: 8px;
  display: inline-block;
}

.related-products .product-slider .item-section .item-dots {
  display: none;
}

.related-products .product-slider .item-section figcaption {
  display: none;
}

.wrapper .navigation {
  padding: 30px 0;
}

.wrapper .navigation p {
  text-align: center;
  color: #ededed;
}

.wrapper .navigation ul {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-row-gap: 65px;
  margin: 30px auto 100px;
}

.wrapper .navigation ul li {
  cursor: pointer;
  margin: 0 auto;
  background-position-x: center;
}

.wrapper .navigation ul li a {
  display: block;
  padding-top: 100px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Choplin Medium-DEMO";
  color: #fff;
}

.wrapper .navigation ul li.hamster a {
  padding-top: 70px;
}

.wrapper .navigation ul li.sprite-big {
  width: 101px;
}

.wrapper .navigation ul li.sprite-big:hover {
  -webkit-filter: brightness(10) saturate(0);
          filter: brightness(10) saturate(0);
}

.wrapper .navigation ul li.divider-vertical {
  height: 125px;
  cursor: default;
}

/*
 *
 * Mobile
 *
 */

@media only screen and (max-width: 630px) {
  .wrapper .navigation ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .wrapper .navigation ul li:nth-child(4n) {
    display: none;
  }
}

/*
 *
 * Tablet portrait
 *
 */

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .wrapper .navigation ul {
    grid-template-columns: repeat(5, 1fr);
  }

  .wrapper .navigation ul li:nth-child(6n) {
    display: none;
  }
}

