*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  transition: all 100ms ease-in-out;
}

/*
 *
 * Example
 *
 *

    @media only screen and (max-width: bp('small')) {
        div {
            width: 100%;
        }
    }

 *
 */

/*
 *
 * Includes
 *
 */

/*
 *
 * Example
 *
 *

    .wrapper {
        margin: 40px auto;

        @include respond-to(phone) { margin: 40px 10px;}
        @include respond-to(tabletPortrait) { width: 710px; max-width: 80%; padding: 0 5px;}
        @include respond-to(tabletLandscape) { width: 765px; max-width: 80%; }
        @include respond-to(desktop) { width: 900px; }
        @include respond-to(desktopL) { width: 960px; }
    }

*
*/

body {
  background-color: #454545;
  color: #fff;
}

@font-face {
  font-family: "Choplin Medium-DEMO";
  src: url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot");
  src: url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.svg#Choplin Medium-DEMO") format("svg");
}

.font-title {
  font-family: "Choplin Medium-DEMO" !important;
}

.font-txt {
  font-family: "Arial", sans-serif !important;
}

body {
  font-family: "Arial", sans-serif;
  font-weight: normal;
}

.nav-m {
  font-size: 22px;
}

.btn-m {
  font-size: 18.97px;
}

.txt-xxl {
  font-size: 20px;
}

.txt-xl {
  font-size: 16px;
}

.txt-l {
  font-size: 15px;
}

.txt-m {
  font-size: 14px;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-right {
  text-align: right !important;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 300;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-600 {
  font-weight: 600;
}

.weight-700 {
  font-weight: 700;
}

.weight-700 {
  font-weight: 700;
}

.weight-800 {
  font-weight: 800;
}

.weight-n {
  font-weight: normal;
}

.weight-bold {
  font-weight: bold;
}

.heading {
  color: #fff;
  font-family: "Choplin Medium-DEMO";
  margin: 0;
  display: inline-block;
}

.heading.h-xl {
  font-size: 44px;
}

.heading.h-l {
  font-size: 40px;
}

.heading.h-ml {
  font-size: 26px;
}

.heading.h-m {
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
}

.sprite {
  background: url("/img/nav/sprite.png") no-repeat top left;
  width: 40px;
  height: 40px;
}

.sprite.hamburger {
  background-position: 0 0;
}

.sprite.search {
  background-position: 0 -45px;
}

.sprite.search-bold {
  background-position: 0 -90px;
}

.sprite.faq {
  background-position: 0 -135px;
}

.sprite.dog {
  background-position: 0 -180px;
}

.sprite.cat {
  background-position: 0 -225px;
}

.sprite.fish {
  background-position: 0 -270px;
}

.sprite.bird {
  background-position: 0 -315px;
}

.sprite.hamster {
  background-position: 0 -360px;
}

.sprite.plus {
  background-position: 0 -405px;
}

.sprite.break {
  background-position: 0 -495px;
  width: 42px;
  height: 42px;
}

.sprite.clear {
  background-position: 0 -542px;
}

.sprite.esc {
  background-position: 0 -587px;
}

.sprite.mail {
  background-position: 0 -632px;
}

.sprite-big {
  background: url("/img/nav/sprite-big.png") no-repeat top left;
  width: 70px;
  height: 70px;
}

.sprite-big.dog {
  background-position: 0 0;
}

.sprite-big.cat {
  background-position: 0 -75px;
}

.sprite-big.fish {
  background-position: 0 -150px;
}

.sprite-big.bird {
  background-position: 0 -225px;
}

.sprite-big.hamster {
  background-position: 0 -300px;
}

.sprite-big.plus {
  background-position: 0 -375px;
}

.overflow {
  overflow-x: hidden;
}

.wrapper {
  margin: 40px auto 150px;
}

@media only screen and (max-width: 630px) {
  .wrapper {
    margin: 40px 7px;
  }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
  .wrapper {
    width: 710px;
    max-width: 80%;
    padding: 0 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    width: 765px;
    max-width: 80%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1140px) {
  .wrapper {
    width: 900px;
  }
}

@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 960px;
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  margin-bottom: 80vh;
}

.wrapper > div {
  border-bottom: 1px solid #616161;
  padding: 60px 0 60px;
}

h2 {
  padding-left: 10px;
  border-left: 5px solid #ff6f9e;
  margin-bottom: 2rem !important;
}

.accent h3:first-child {
  margin-top: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.code {
  background-color: #fff;
  color: #323232;
  padding: 0 20px 10px;
  margin-bottom: 20px;
}

/*
 *
 * Header
 *
 */

header {
  background-color: #323232;
  height: 50vh;
  padding-top: 130px;
}

header h1,
header a {
  display: block !important;
  text-align: center;
}

header h1 {
  padding: 20px 0 10px;
  border-bottom: 2px solid #ff6f9e;
  width: 288px;
  margin: 0 auto 20px !important;
}

/*
 *
 * Navigation
 *
 */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #323232;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
}

ul li {
  float: left;
}

ul li:last-child {
  float: right;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ff6f9e;
}

/*
 *
 * Colors
 *
 */

#colors {
  margin-top: 43vh;
}

.colors div div {
  color: #323232;
  font-weight: bold;
  text-align: center;
  height: 100px;
  width: 100px;
  border: 3px solid #fff;
  padding-top: 37px;
  margin: 0 5px 5px 0;
}

.colors div div:last-child {
  margin-right: 0;
}

.colors.greyscale div.b {
  color: #000;
}

.colors.greyscale div.w {
  color: #fff;
}

.colors .dog {
  background-color: #ff6f9e;
}

.colors .cat {
  background-color: #8787ff;
}

.colors .fish {
  background-color: #ffb93f;
}

.colors .bird {
  background-color: #7aff82;
}

.colors .hamster {
  background-color: #7ce3ff;
}

.colors .other {
  background-color: #ff3f3f;
}

.colors .btn-cookie {
  background-color: #e27500;
}

.colors .bg-cookie {
  background-color: #e6cfb9;
}

.colors .white {
  background-color: #fff;
}

.colors .bg-search {
  background-color: #f6f6f6;
}

.colors .bg-search-icon {
  background-color: #ededed;
}

.colors .sub-txt {
  background-color: #cecece;
}

.colors .bg-placeholder {
  background-color: #b6b6b6;
}

.colors .nav-txt {
  background-color: #959595;
}

.colors .bg-slider {
  background-color: #828282;
}

.colors .bg-faq {
  background-color: #717171;
}

.colors .bg-divider {
  background-color: #616161;
}

.colors .bg-prod {
  background-color: #565656;
}

.colors .bg-divider2 {
  background-color: #535353;
}

.colors .bg-page {
  background-color: #454545;
}

.colors .bg-nav {
  background-color: #323232;
}

.colors .bg-hamburger {
  background-color: #252525;
}

.colors .black {
  background-color: #000;
}

/*
 *
 * Logo
 *
 */

.logos div img {
  max-height: 90px;
  max-width: 290px;
}

.logos div img.kowloon {
  max-height: 45px;
  max-width: 145px;
}

.logos div:first-child {
  margin-bottom: 1em;
}

.logos div:first-child img:first-child {
  margin: 0 90px 0 10px;
}

/*
 *
 * Icons
 *
 */

.icons div {
  margin: 0 20px;
}

.icons div:first-child {
  margin-left: 0;
}

.icons div:last-child {
  margin-right: 0;
}

.icons.small {
  margin-top: 2rem;
}

.icons.filter {
  -webkit-filter: brightness(10) saturate(0);
          filter: brightness(10) saturate(0);
}

/*
 *
 * Typography
 *
 */

#typography div {
  margin-top: 3em;
}

#typography div h3 {
  display: block;
}

/*
*
* Navigation
*
*/

