.about-content{
	display: flex;
	flex-wrap: wrap;
	margin: 65px auto 80px;
	
	.about-wrapper {
		max-width: 70%;

		.contact-form {
			margin: 75px 0 0;

			span{
				color: $bg-btn-send;
				padding-bottom: 5px;
				/* gives height to span if empty */
				&:empty:before { content: "\200b"; } 
			}

			label {
				display: block;
				margin: 25px 0 10px;
				font-size: $heading-m;
			}

			input, textarea {
				padding: 5px 10px;
				border: 1px solid $nav-txt;
				color: $bg-nav;
				&:placeholder{color: $bg-placeholder; }
			}

			textarea{
				min-height: 135px;
				width: 100%;
			}

			button[type="submit"]{
				margin-top: 30px;
				font-size: $btn-m;
				padding: 10px 90px;
			}
		}
	}

	.contact-info {
		margin: 0 0 0 auto;
		padding: 0 0 18px 18px;
		height: 118px;
		border-left: 1px solid $bg-divider;
		border-bottom: 1px solid $bg-divider;
		ul { 
			list-style-type: disc;
			padding-left: 18px;
		}
	}
}

.about-faq{
	h3 { margin-bottom: 15px; }
	a {
		display: block;
		text-align: right;
	}

	.question {
		cursor: pointer;
		background-color: $bg-faq;
		padding: 20px;
		margin-bottom: 15px;

		h2 { margin-bottom: 0; }
		p { padding-top: 10px; display: none; }

		&.active p { display: inline-block; }

		.arrow-down, .arrow-right { float: right; }
		.arrow-down { border-top-color: $white; }
		.arrow-right { border-left-color: $white; }
	}
}




/*
 *
 * Mobile
 *
 */

 @media only screen and (max-width: bp('small')) {
	.about-content{
		display: block;
		.about-wrapper {
			max-width: 100%;
			.contact-form {
				margin: 40px 0;
				input { width: 100%; }
				button[type="submit"] {width: 100%;	margin-top: 10px;}
				label { margin: 10px auto 0;}
			}
		}
		.contact-info { margin-bottom: 40px; }
	}
	.about-faq a { text-align: center; }
}
