.article-details { margin-top: 180px; }


.item-overview {
	
	.item-content {
		display: flex;
		> div { width: 50%; }
	}
	
	/* Item Imgs */
	.item-images {

	}

	/* Item Description */
	.item-description {
		h1,h2 { display: block; }
		h3 { margin: 1rem auto 5px; }

		
		.figures {
			display: flex;
			margin-top: 15px;

			.square,
			.circle {
				width: 35px;
				height: 35px;
				background-color: $bg-slider;
				border: 1px solid $bg-nav;
			}
			.circle { border-radius: 50%; margin: 0 15px; }
			.triangle {
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-bottom: 35px solid $bg-slider;
			}
		}
	}
	

	/* Item Specifications */
	.item-specs {
		padding: 15px;
		border: 1px solid $bg-faq;
		span { padding-left: 25px; }
		h4 { margin: 1rem auto 5px; }
	}
}




.related-products { 
	margin: 45px auto 60px;
	position: relative;

	> a { display: block; text-align: right; }
	

	> div.btn {
		position: absolute;
		height: 40px;
		width: 40px;
		top: 50%;
		background-color: $white;
		border-radius: 50%;
		cursor: pointer;
		border: 3px solid rgba($sub-txt, 0.3);

		div { 
			height: 14px;
			width: 14px;
			border-left: 3px solid $bg-nav;
			border-bottom: 3px solid $bg-nav;
			position: absolute;
			top: 8px;
			left: 11px;
		}

		&.scroll-left { left: 2%; transform: translateY(-50%) rotate(45deg); }
		&.scroll-right { right: 2%; transform: translateY(-50%) rotate(225deg); }
	}


	.product-slider{
		margin-top: 15px;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch; //smooth scrolling on phone
		scroll-behavior: smooth;
		
		&::-webkit-scrollbar {
			display: none;
		}

		.item-section {
			flex: 0 0 auto;
			margin-right: 8px;
			display: inline-block;
			.item-dots { display: none; }
			figcaption { display: none; }
		}
	}
}