.article-details { margin-top: 180px; }


.item-overview {
	
	.item-content {
		display: flex;
		margin-bottom: 20px;
		> div { width: 50%; }
	}
	
	/* Item Imgs */
	.item-images {
		background-color: $bg-prod;
		padding: 5px;
		margin-right: 3px;
		height: 100%;

		.featured-img-container {
			width: 100%;
			height: 267px;
			text-align: center;
			white-space: nowrap;

			.helper {
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				width: 100%;
				height: 100%;
				/* solve sizing outside container */
				float: left; /* removes aligning middle with helper.. */
				clear: both;
			}
		}

		.img-list {
			display: flex;
			padding-top: 5px;

			section {
				cursor: pointer;

				&#img-list-2 { margin: 0 3px; }
				figcaption { padding-left: 3px; }
				img {
					width: 153px;
					height: 85px;
					max-width: 100%;
					border: 2px solid $bg-prod;
					opacity: 0.3;
				}
				&.active img { border-color: $white; opacity: 1; }
			}
		}
	}


	/* Item Description */
	.item-description {
		margin-left: 3px;
		padding: 0 20px;

		h1,h2 { display: block; }
		h3 { margin: 1rem auto 5px; }

		.item-dots .dot { 
			margin: 0;
			border-color: $white;
			border-width: 1px;
		}
		.item-dots .dot:nth-child(2) { background-color: $white; }
		.item-dots .dot:nth-child(3) { background-color: $bg-nav; margin: 0 5px; }
		.item-dots .dot:nth-child(4) { background-color: $bg-product; }

		.figures {
			display: flex;
			margin-top: 15px;

			.square,
			.circle {
				width: 35px;
				height: 35px;
				background-color: $bg-slider;
				border: 1px solid $bg-nav;
			}
			.circle { border-radius: 50%; margin: 0 15px; }
			.triangle {
				width: 0;
				height: 0;
				border-left: 20px solid transparent;
				border-right: 20px solid transparent;
				border-bottom: 35px solid $bg-slider;
			}
		}
	}
	

	/* Item Specifications */
	.item-specs {
		padding: 15px;
		border: 1px solid $bg-faq;
		span { padding-left: 25px; }
		h4 { margin: 1rem auto 5px; }
	}
}




.related-products { 
	margin: 45px auto 60px;
	position: relative;

	> a { display: block; text-align: right; }
	

	> div.btn {
		position: absolute;
		height: 40px;
		width: 40px;
		top: 50%;
		background-color: $white;
		border-radius: 50%;
		cursor: pointer;
		border: 3px solid rgba($sub-txt, 0.3);

		div { 
			height: 14px;
			width: 14px;
			border-left: 3px solid $bg-nav;
			border-bottom: 3px solid $bg-nav;
			position: absolute;
			top: 8px;
			left: 11px;
		}

		&.scroll-left { left: 2%; transform: translateY(-50%) rotate(45deg); }
		&.scroll-right { right: 2%; transform: translateY(-50%) rotate(225deg); }
	}


	.product-slider{
		margin-top: 15px;
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch; //smooth scrolling on phone
		scroll-behavior: smooth;
		
		&::-webkit-scrollbar {
			display: none;
		}

		.item-section {
			flex: 0 0 auto;
			margin-right: 8px;
			display: inline-block;
			img { height: 154px; }
			.item-dots { display: none; }
			figcaption { display: none; }
		}
	}
}




/*
 *
 * Mobile
 *
 */

 @media only screen and (max-width: bp('small')) {
	.item-overview {
		.item-content {
			display: block;
			> div { width: 100%; }
		}
		.item-images{
			.featured-img-container {
				height: 327px;
			}
			.img-list section img { width: 200px; height: 112px; }
		}
		.item-description { margin-top: 20px; }
	}
}

/*
 *
 * Tablet portrait
 *
 */
@media only screen and (min-width: bp('small')) and (max-width: bp('medium')){
	.item-overview {
		.item-content {
			display: block;
			> div { width: 100%; }
		}

		.item-images {
			display: flex;

			.featured-img-container { padding-right: 5px; height: 327px;}

			.img-list { display: block;  padding-top: 0;}
		}

		.item-description {
			margin-top: 20px;
			position: relative;
			.item-dots { position: absolute; top:30px; right: 0; }
		}
	}
}

/*
 *
 * Tablet landscape
 *
 */
@media only screen and (min-width: bp('medium')) and (max-width: bp('large')){
	.item-overview .item-images .featured-img-container { height: 211px; }
}


/*
 *
 * Desktop small
 *
 */

@media only screen and (min-width: bp('large')) and (max-width: bp('xlarge')){
	.item-overview .item-images .featured-img-container { height: 250px; }
}
