.wrapper .navigation {
	padding: 30px 0;

	p { text-align: center; color: $bg-search-icon }

	ul {
		display: grid;
		grid-template-columns: repeat(11, 1fr);
		grid-row-gap: 65px;
		margin: 30px auto 100px;

		li {
			cursor: pointer;
			margin: 0 auto;
			background-position-x: center;

			a {
				display: block;
				padding-top: 100px;
				text-decoration: none;
				font-size: $heading-m;
				font-family: $font-title;
				color: $white;
			}
			
			&.hamster a { padding-top: 70px; }

			&.sprite-big { width: 101px; } //width of anchor txt "small animals"
			&.sprite-big:hover { filter: brightness(10) saturate(0); } //white
			&.divider-vertical { height: 125px; cursor: default; }
		}
	}
}


/*
 *
 * Mobile
 *
 */

 @media only screen and (max-width: bp('small')) {
	.wrapper .navigation {
		ul{
			grid-template-columns: repeat(3, 1fr);
			li:nth-child(4n) { display: none; }
		}
	}
}

/*
 *
 * Tablet portrait
 *
 */
@media only screen and (min-width: bp('small')) and (max-width: bp('medium')){
	.wrapper .navigation {
		ul {
			grid-template-columns: repeat(5, 1fr);
			li:nth-child(6n) { display: none; }
		}
	}
}