.categories{
	display: flex;
	flex-wrap: wrap;

	.checkbox {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		margin-right: 20px;
		cursor: pointer;
		font-size: 18px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
		/* Hide the browser's default checkbox */
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}
		
		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 25px;
			background-color: $white;
			border: 1px solid $bg-nav;
			
			/* the actual checkmark */
			&:after{
				content: "";
				position: absolute;
				display: none;
				left: 9px;
				top: 5px;
				width: 5px;
				height: 10px;
				border: solid white;
				border-width: 0 3px 3px 0;
				-webkit-transform: rotate(45deg);
					-ms-transform: rotate(45deg);
						transform: rotate(45deg);
			}
		}
		
		/* show checkmark on hover or checked  */
		input:checked ~ .checkmark,
		&:hover input ~ .checkmark {
			background-color: $bg-btn-send;
			&:after {display: block;}
		}
	}
}