/* sprite */
.sprite 			{ background: url('/img/nav/sprite.png') no-repeat top left; width: 40px; height: 40px;  } 
.sprite.hamburger 	{ background-position: 0 0; } 
.sprite.search 		{ background-position: 0 -41px; } 
.sprite.faq 		{ background-position: 0 -82px; } 
.sprite.dog 		{ background-position: 0 -123px; } 
.sprite.cat 		{ background-position: 0 -164px; } 
.sprite.fish 		{ background-position: 0 -205px; } 
.sprite.bird 		{ background-position: 0 -246px; } 
.sprite.hamster 	{ background-position: 0 -287px; } 

$nav_width: 	60px;
$nav_extra: 	155px;
$img_width:		40px;
$duration: 		.2s;

#mobile-menu { display: none; }

.navbar-vertical {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 5;
	height: 100%;
	width: $nav_width + $nav_extra;
	overflow: hidden;
	border: none;
	border-radius: 0;
	margin: 0;
	background-color: $grey8;

	ul {
		width: 100%;
		display: block;
		padding: 0;

		&:before, &:after {
			display: none;
		}

		li {
			margin: ($nav_width - $img_width)/2;
			width: 100%;
			height: $img_width;
			line-height: $img_width;
			cursor: pointer;

			a {
				display: block;
				width: $nav_width + $nav_extra;
				padding-left: $nav_width - 10px;
				text-decoration: none;
				font-size: $nav-m;
				color: $grey2 !important;
			}
		}

		li#nav-burger{
			margin-top: 5px;
			margin-bottom: 5px + 10px;
		}
		li#nav-search,
		li#nav-faq {
			&:hover{
				filter: brightness(10) saturate(0);
				a { color: $white !important; }
			}
		}
		
		/* filter animals */
		.nav-animals {
			li 			{ filter: brightness(10) saturate(0); } //white
			li.active,
			li:hover 	{ filter: none; }

			li.dog a	{ color: $dog !important; }
			li.cat a	{ color: $cat !important; }
			li.fish a	{ color: $fish !important; }
			li.bird a	{ color: $bird !important; }
			li.hamster a{ color: $hamster !important; }
		}
	}

/*
 *
 * Logo
 *
 */

	ul#navbar-logo {
		width: 100%;
		position: fixed;
		bottom: 0;

		li {
			filter: none;
			margin-left: ($nav_width - 26px)/2;

			a{
				display: inline;
				width: auto;
				padding: 0;

				img {
					height: 26px;
					width: auto;
					transition: $duration all;
					opacity: 1;

				}
				img.inactive{
					opacity: 0;
				}
			}
		}

		li#logo-long {
			position: fixed;
			bottom: 0;
			left: 0;
			margin-left: (($nav_width - 26px)/2)*1.1;

			img{
				height: 20px;
			}
		}
	}

}

/*
 *
 * background color hamburger menu
 *
 */
.navbar-vertical:before {
	position: absolute;
	width: $nav_width;
	height: 50px;
	content:"";
	background-color: $grey9;
}


/*
 *
 * Animation
 *
 */

 /* black background */
.navbar-vertical:before {
  -webkit-transition: -webkit-transform $duration;
     -moz-transition:    -moz-transform $duration;
          transition:         transform $duration;

  -webkit-transform: translateX($nav_extra);
     -moz-transform: translateX($nav_extra);
          transform: translateX($nav_extra);
}
.navbar-vertical.active:before {
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
          transform: translateX(0px);
}

/* nav slider */
.navbar-vertical {
  -webkit-transition: -webkit-transform $duration;
     -moz-transition:    -moz-transform $duration;
          transition:         transform $duration;

  -webkit-transform: translateX(-$nav_extra);
     -moz-transform: translateX(-$nav_extra);
          transform: translateX(-$nav_extra);
}

.navbar-vertical.active {
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
          transform: translateX(0px);
}

/* ul slide opposite so it stays in place*/
.navbar-vertical ul {
  -webkit-transition: -webkit-transform $duration;
     -moz-transition:    -moz-transform $duration;
          transition:         transform $duration;

  -webkit-transform: translateX($nav_extra);
     -moz-transform: translateX($nav_extra);
          transform: translateX($nav_extra);
}

.navbar-vertical.active ul {
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
          transform: translateX(0px);
}




/*
 *
 * Mobile
 *
 */

 @media only screen and (max-width: bp('small')) {
	
	.navbar-vertical:before {
		display: none;
	}

 	.navbar-vertical {
		left: -$nav_width;
		transition: $duration all;

		ul {
			li#nav-burger{
				display: none;
			}
		}

		&.active{
			left: 0;
		}
	}

	#mobile-menu {
		display: block;
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		margin: 7px;
		transition: $duration all;

		&.active{
			left: $nav_width + $nav_extra;
		}
	}
}