.overlay {
	background-color: $white;
	position: absolute;
	width: 100%;
	z-index: 5;
	color: $black;
	
	display: none;
	&.active { display: block; }


	h2 span,
	h1 span { display: inline-block; }

	h1 { color: $bg-btn-cookie; font-family: $font-txt; }
	p, p a { color: $bg-divider2; }
	
	.description { margin: -40px 0 40px; }
	.description p { max-width: 85%; }

	.search-results {
		input {
			padding-left: 53px;
			border: none;
			border-bottom: 2px solid $bg-divider2;
			width: 100%;
			font-size: $heading-l;
			color: $bg-btn-cookie;
		}

		.search-label {
			position: relative;
			top: -68px;
			margin: 0;
			opacity: 0;
			&.active{ opacity: 1 }
		}
	}
	
	button.clear {
		float: right;
		margin-right: 20px + 13px;
		margin-top: -50px;
		span { margin-left: 20px; }
	}
}



/*
 *
 * Mobile
 *
 */

 @media only screen and (max-width: bp('small')) {
	
}


/*
 *
 * Tablet portrait
 *
 */

@media only screen and (min-width: bp('small')) and (max-width: bp('medium')){
	
}


/*
 *
 * Tablet landscape
 *
 */

@media only screen and (min-width: bp('medium')) and (max-width: bp('large')){
	
}

/*
 *
 * Desktop small
 *
 */

@media only screen and (min-width: bp('large')) and (max-width: bp('xlarge')){
	
}