section.range-slider {
    position: relative;
    width: 400px;
    height: 74px;
    text-align: center;
    
    div.values {
        position: relative;
        top: 30px;
        line-height: 40px;

        div {
            position: absolute;
            display: inline-block;
            width: 145px;
            background-color: $white;
            border: 2px solid $bg-slider;

            &.val-1 { left: 0; }
            &.val-2 { right: 0; }
            
            .euro-sign { 
                position: absolute;
                left: 5px;
             }                
        }
    }

    input  {
        pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        
        -webkit-appearance: none; //removes default styling
        outline: none;
        width: 400px;
        height: 5px;
        background: $nav-txt;
    }

    input::-moz-range-track {
        position: relative;
        z-index: -1;
        background-color: $nav-txt;
        border: 0;
    }
    input:last-of-type::-moz-range-track {
        -moz-appearance: none;
        background: $nav-txt;
        border: 0;
    }

    input[type=range]::-moz-focus-outer {
        border: 0;
    }
    
    input::-webkit-slider-thumb {
        pointer-events: all;
        position: relative;
        z-index: 1;

        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        appearance: none;
        background: $bg-nav;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $bg-nav;
    }

    input::-moz-range-thumb{
        pointer-events: all;
        position: relative;
        z-index: 2;

        cursor: pointer;
        -moz-appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: $bg-nav;
    }
}


/*
 *
 * Mobile
 *
 */

 @media only screen and (max-width: bp('small')) {
    section.range-slider,
    section.range-slider input {
        max-width: 95vw;
    }
}