.slideshow-container {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 16px;

	.mySlides {
		display: none;
		width: 100%;
		opacity: 0;
		transition: opacity 0.5s linear;

		&.active {
			display: block;
			opacity: 1;
		}

		img { width: 100%; }

		.slide-timer {
			position: absolute;
			bottom: -16px;
			z-index: 5;
			height: 3px;
			width: 100%;
			background-color: $grey2;
			content:"";
			opacity: 0.4;

			div {
				z-index: 6;
				height: 3px;
				width: 100%;
				content:"";
				background-color: $grey7;
				
				-web-kit-animation: slideShowTimer 5s linear;
					-moz-animation: slideShowTimer 5s linear;
					  -o-animation: slideShowTimer 5s linear;
						 animation: slideShowTimer 5s linear;
			}
		}
	}

	.slide-controls{
		text-align: center;
		margin-top: -40px;

		.dot {
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin: 0 10px;
			background-color: $white;
			border-radius: 50%;
			display: inline-block;
			transition: .6s all ease;

			&.active,
			&:hover{
				background-color: $grey8;
			}
		}
	}


}


@-web-kit-keyframes slideShowTimer {
	from { width: 0; }
	to { width: 100%; }
}

@-moz-keyframes slideShowTimer {
	from { width: 0; }
	to { width: 100%; }
}

@-o-keyframes slideShowTimer {
	from { width: 0; }
	to { width: 100%; }
}

@keyframes slideShowTimer {
	from { width: 0; }
	to { width: 100%; }
}






/*
 *
 * Mobile
 *
 */
 @media only screen and (max-width: bp('small')) {

 	.slide-timer { bottom: 0 !important; }
	.slide-controls{ display: none; }

}