.btn-primary
{
    border: none;
    border-radius: 0;
    font-size: $btn-m;
    font-weight: bold;
    text-align: center;
    
    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.btn-m      { font-size:    $btn-m; }