.btn-primary
{
    border: none;
    border-radius: 0;
    font-size: $btn-m;
    font-weight: bold;
    padding: 20px 50px;
    
    &:hover {
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}