.heading
{
    color:          $white;
    font-family:    $font-title;
    margin:         0;
    display:        inline-block;

    &.h-xl{ font-size: $heading-xl; }
    &.h-l { font-size: $heading-l; }
    &.h-m { font-size: $heading-m; }
}