p
{
    color:          $white;
    font-family:    $font-txt;
    margin:         0;
}


.txt-xxl{ font-size: $heading-m; }
.txt-xl{ font-size: $txt-xl; }
.txt-l { font-size: $txt-l; }
.txt-m { font-size: $txt-m; }