.overlay-search{
 	position: fixed;
 	
	h2 { margin-bottom: 20px; width: 290px; cursor: pointer; }

	.filter { display: none; }

	.advanced-filter {
		.price-slider { margin: 0 auto 0 auto; }

		grid-template-columns: repeat(2, 1fr);
		&.active { display: grid; }
	}

	.search-results {
		margin-top: 60px;

		#search-mobile { display: none; }
	}
}



/*
 *
 * Mobile to Tablet landscape
 *
 */

 @media only screen and (max-width: bp('large')) {
.overlay-search{
		.advanced-filter {
			.price-slider 	{ margin: 10px 0 0; }
			grid-template-columns: repeat(1, 1fr);
		}
		.search-results {
			input, h1 		{ font-size: $heading-m; }
			.search-label 	{ top: -60px; }
		}
	}
}


/*
 *
 * Mobile
 *
 */

 @media only screen and (max-width: bp('small')) {
 	.overlay-search{
		.search-results {
			#search-mobile  { display: inline; }
			#search-desktop { display: none; }
		}
	}
}


/*
 *
 * Desktop small
 *
 */

@media only screen and (min-width: bp('large')) and (max-width: bp('xlarge')){
	.overlay-search{
		.search-results {
			input, h1 		{ font-size: $heading-m; }
			.search-label 	{ top: -60px; }
		}
	}
}