.overlay-search{
	.description { margin-top: -35px; }
	h2 { margin-bottom: 20px; width: 290px; cursor: pointer; }
	h2 span { position: relative; top: 10px; }

	.advanced-filter {
		.price-slider{
			text-align: right;
			margin: 0 auto 0 auto;
			h3 { text-align: left; }
		}

		grid-template-columns: repeat(2, 1fr);
		grid-gap: auto;
		&.active { display: grid; }
	}

	.search-results { margin-top: 60px; }
}



