//Greyscale
$white1:		#fff;
$white2:		#f6f6f6; //bg avanced search
$white3:		#ededed; //bg icon search
$grey1:			#b6b6b6; //placeholder txt
$grey2:			#9a9a9a; //advanced filter arrow
$grey2:			#828282; //esc
$grey3:			#717171; //faq bg
$grey4:			#616161; //divider about
$grey5:			#565656; //border product detail
$grey6:			#535353; //divider search
$grey7:			#454545; //bg
$grey8:			#323232; //nav bg
$grey9:			#565656; //product color2
$grey9:			#252525; //nav hamburger
$black:			#000;


//Accent
$accent1:		#ff6f9e; //send btn
$accent2:		#e27500; //cookie btn
$accent3:		#e6cfb9; //cookie bg

$accent4:		#2d4aac; //product color3

$dog:			#ff709e;
$cat:			#8787ff;
$fish:			#ffb93f;
$bird:			#7aff82;
$hamster:		#7ce3ff;



body { background-color: $grey7; }