//Greyscale
$white:				#fff;
$bg-search:			#f6f6f6; //bg avanced search
$bg-search-icon:	#ededed; //bg icon search
$bg-placeholder:	#b6b6b6; //placeholder txt
$nav-txt:			#9a9a9a; //advanced filter arrow
$bg-slider:			#828282;
$bg-faq:			#717171;
$bg-divider:		#616161; //divider about
$border-product:	#565656; //border product detail
$bg-divider2:		#535353; //divider search
$bg-page:			#454545;
$bg-nav:			#323232;
$bg-product:		#565656;
$bg-hamburger:		#252525;
$black:				#000;


//Accent
$bg-btn-send:		#ff6f9e; //send btn
$bg-btn-cookie:		#e27500; //cookie btn
$bg-cookie:			#e6cfb9; //cookie bg

$bg-product:		#2d4aac; //product color3


$dog:				#ff709e;
$cat:				#8787ff;
$fish:				#ffb93f;
$bird:				#7aff82;
$hamster:			#7ce3ff;



body {
	background-color: $bg-page;
	color: $white;
}