//Greyscale
$white:				#fff;
$bg-search:			#f6f6f6;
$bg-search-icon:	#ededed;
$sub-txt:			#cecece;
$bg-placeholder:	#b6b6b6;
$nav-txt:			#959595;
$bg-slider:			#828282;
$bg-faq:			#717171;
$bg-divider:		#616161;
$bg-prod:			#565656;
$bg-divider2:		#535353;
$bg-page:			#454545;
$bg-nav:			#323232;
$bg-hamburger:		#252525;
$black:				#000;


//Accent
$bg-btn-send:		#ff6f9e; //send btn
$bg-btn-cookie:		#e27500; //cookie btn
$bg-cookie:			#e6cfb9; //cookie bg

$bg-product:		#2d4aac; //product color3


$dog:				#ff6f9e;
$cat:				#8787ff;
$fish:				#ffb93f;
$bird:				#7aff82;
$hamster:			#7ce3ff;
$other:				#ff3f3f;



body {
	background-color: $bg-page;
	color: $white;
}