@font-face {font-family: "Choplin Medium-DEMO";
    src: url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot");
    src: url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.svg#Choplin Medium-DEMO") format("svg");
}

$font1:			'Choplin Medium-DEMO';
$font2:			'Arial', sans-serif;

.font1 { font-family:		$font1; }
.font2 { font-family: 		$font2; }




$heading-l:		40px;
$heading-m:		20px;

$nav-m:			22px;

$btn-m:			18.97px;

$txt-xl:		16px;
$txt-l:			15px;
$txt-m:			14px;


.heading-l 	{ font-size: 	$heading-l; }
.heading-m 	{ font-size: 	$heading-m; }
.nav-m 		{ font-size: 	$nav-m; }
.btn-m 		{ font-size: 	$btn-m; }
.txt-xl 	{ font-size: 	$txt-xl; }
.txt-l 		{ font-size: 	$txt-l; }
.txt-m 		{ font-size: 	$txt-m; }


.weight-100 { font-weight: 	100; }
.weight-200 { font-weight: 	200; }
.weight-300 { font-weight: 	300; }
.weight-400 { font-weight: 	400; }
.weight-500 { font-weight: 	500; }
.weight-600 { font-weight: 	600; }
.weight-700 { font-weight: 	700; }
.weight-700 { font-weight: 	700; }
.weight-800 { font-weight: 	800; }
.weight-n { font-weight: 	normal; }
.weight-bold { font-weight: bold; }


body {
	font-family:			$font2;
	font-weight: 			normal;
}




/*

breadcrumbs
arial 14px

h1 
choplin 40px

h2
choplin 20px


txt
arial 14px



field
arial 20px
placeholder - arial 16px


send btn 237 x 42
arial 18.97px BOLD


more questions?
choplin 15px
underline
right outline

faq arial 20 bold
arial 14
*/