@font-face {font-family: "Choplin Medium-DEMO";
    src: url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot");
    src: url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f320547242a88bd9207eeb10e77b1d13.svg#Choplin Medium-DEMO") format("svg");
}

$font-title:				'Choplin Medium-DEMO';
$font-txt:					'Arial', sans-serif;

.font-title { font-family:	$font-title; }
.font-txt	{ font-family: 	$font-txt; }

$heading-xl:	44px;
$heading-l:		40px;
$heading-ml:	28px;
$heading-m:		20px;
$nav-m:			22px;
$btn-m:			18.97px;
$txt-xl:		16px;
$txt-l:			15px;
$txt-m:			14px;


.nav-m 		{ font-size: 	$nav-m; }


body {
	font-family:			$font-txt;
	font-weight: 			normal;
}

.align-center { text-align: center;}

.weight-100 { font-weight: 	100; }
.weight-200 { font-weight: 	200; }
.weight-300 { font-weight: 	300; }
.weight-400 { font-weight: 	400; }
.weight-500 { font-weight: 	500; }
.weight-600 { font-weight: 	600; }
.weight-700 { font-weight: 	700; }
.weight-700 { font-weight: 	700; }
.weight-800 { font-weight: 	800; }
.weight-n { font-weight: 	normal; }
.weight-bold { font-weight: bold; }
